<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
	    {% for item in states|sort(attribute="name") %}
        <LI>{{ item|attr("id") }}: <B>{{ item|attr("name") }}</B></LI>
            <UL>
                {% for city in states|attr("cities") %}
                <LI>{{ city|attr("id") }}: <B>{{ city|attr("name") }}</B></LI>
                {% for city in states|attr("cities") %}
            </UL>
	    {% endfor %}
        </UL>
    </BODY>
</HTML>
